#player img {
    margin-top: 100px;
    margin-left: 20px;
}

 #pig img {
    margin-top: 150px;
    margin-left: 30px;
}

#right, #left {
    border-radius: 12px;
}

.score {
    margin: 15px;
    span {
        padding-left: 30px;
    }
}

.active {
    background: #f29967;
}